.hebrew {
    font-family: 'Guttman-Aram';
    font-weight: bold;

}

.gif-size {
    /*width: 150px !important;*/
    height: 350px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.form-control {
    font-size: 30px !important;
    font-weight: bold !important;
}