.hebrew {
    font-family: 'Guttman-Aram';
    font-weight: bold;

}

.gif-size {
    width: 150px !important;
    height: 350px !important;
}

.form-control {
    font-size: 30px !important;
}